* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 74px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: aliceblue;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  
}

header .logo h3 {
  font-size: 30px;
}

header .nav {
  display: flex;
  gap: 15px;
}

header .nav > a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  
  header .nav {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.hero .h {
  color: white;
  font-size: 40px;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Responsive Hero Section */
@media (max-width: 768px) {
  .hero .h {
    font-size: 28px;
  }
}

.hero p {
  color: gray;
  font-size: 20px;
  text-align: center;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
  width: 50%;
}

/* Responsive Paragraph */
@media (max-width: 768px) {
  .hero p {
    width: 80%;
    font-size: 16px;
  }
}
